header {
  background-color: var(--primary);
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: rgb(231, 231, 231);
    text-decoration: underline;
    text-decoration-style: wavy;
  }

  .ativo {
    color: rgb(231, 231, 231);
    text-decoration: underline;
    text-decoration-style: wavy;
  }
}

main {
  background-color: #fcfcfc;
  padding: var(--padding);
}
