<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form class="form mt-4" [formGroup]="form" (ngSubmit)="cadastrar()">
  <div class="form-group">
    <input placeholder="E-mail" class="form-control" formControlName="email" />
    <app-mensagem
      *ngIf="form.get('email')?.errors?.required && form.get('email')?.touched"
      mensagem="Email obrigatório"
    ></app-mensagem>
    <app-mensagem
      *ngIf="form.get('email')?.errors?.email && form.get('email')?.touched"
      mensagem="Email no formato incorreto"
    ></app-mensagem>
  </div>
  <div class="form-group">
    <input
      placeholder="Nome completo"
      class="form-control"
      formControlName="fullName"
    />
    <app-mensagem
      *ngIf="
        form.get('fullName')?.errors?.required && form.get('fullName')?.touched
      "
      mensagem="Nome obrigatório"
    ></app-mensagem>
  </div>

  <div class="form-group">
    <input
      placeholder="Nome de usuairo"
      class="form-control"
      formControlName="userName"
    />
    <app-mensagem
      *ngIf="form.get('userName')?.errors?.minusculo && form.get('userName')?.touched"
      mensagem="Nome de usuário deve conter apenas letras minusculas"
    ></app-mensagem>

    <app-mensagem
    *ngIf="form.get('userName')?.errors?.usuarioExistente && form.get('userName')?.touched"
    mensagem="Usuario digitado já existe"
  ></app-mensagem>
  </div>

  <div class="form-group">
    <input
      placeholder="Senha"
      type="password"
      class="form-control"
      formControlName="password"
    />
    <app-mensagem
    *ngIf="form.errors?.senhaIgualUsuario"
    mensagem="Senha deve ser diferente do usuário"
  >
  </app-mensagem>
  </div>

  <button class="btn btn-primary btn-block">Cadastrar</button>
</form>

<a [routerLink]="['']">login</a>
